.w3-xxlarge{
    font-size: 30px;
    color: white;
}
/* Ensure the dropdown menu spans the full width of the viewport */
.bus .dropdown-menu {
    display: none;
    position: fixed;
    top: 100px; /* Adjust this value based on your navbar height */
    left: 50%;
    transform: translateX(-65%);
    width: 90vw;
    padding: 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.175);
    
}


/* Hide dropdown on small screens (phones) */
@media (max-width: 768px) {
    /* Remove browser-generated arrow indicator */
    .bus .dropdown-toggle::after {
        display: none;
    }

    .bus .dropdown-menu {
        display: none !important; /* Forcefully hide it on small screens */
    }
    .back-to-top{
        display: none !important;
    }
}
/* Adjustments for medium screens */

/* Adjustments for large screens */

.bus .nav-item:hover .dropdown-menu,
.bus .dropdown-menu.show {
    display: block;
}

.bus .dropdown-item {
    display: flex;
    align-items: center;
    padding: 10px 15px;
}

.bus .dropdown-item span {
    margin-right: 10px;
    font-size: 35px;
    color: rgb(6, 163, 218);
}
.bus .dropdown-item p {
    margin: 0;
}
.serv .dropdown-item span{
    margin-right: 10px;
    font-size: 35px;
    color: rgb(6, 163, 218);
}
.serv .dropdown-item {
    display: flex;
    align-items: center;
    padding: 10px 15px;
}

.about .dropdown-item span{
    margin-right: 10px;
    font-size: 35px;
    color: rgb(6, 163, 218);
}
.about .dropdown-item {
    display: flex;
    align-items: center;
    padding: 10px 15px;
}

.logo{
    width: 97px;
    height: 97px;
    border-radius: 8%;
   }
.software{
width:100%;
height:30%;
}
.hardware{
    width: 100%;
    height: 30%;
}
