@font-face {
    font-family: 'Roboto';
    src: url('../Roboto/Roboto-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../Roboto/Roboto-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
.dropdown-item a{
    text-decoration: none;
}
@media (min-width: 768px) {
/* Width of the entire scrollbar */
::-webkit-scrollbar {
    width: 12px;
  }
  
  /* Track (background of the scrollbar) */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle (scrollbar thumb) */
  ::-webkit-scrollbar-thumb {
    background: rgb(6, 163, 218);
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(6, 163, 218);
  }
}
/* Add more @font-face rules for different font weights and styles if needed */

body{
    font-family: 'Roboto', sans-serif; 

}
/* CSS */
.whatsapp-icon {
    position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}

.whatsapp-icon i {
    /* Adjust size as needed */
   
    font-size: 40px;
    color: white;
}



.w3-xxlarge{
    font-size: 30px;
    color: white;
}
.bus .description {
    color: #757575; 
    font-size: 0.8rem; 
    /* Removed max-width: 50px; */
}

.bus .dropdown-menu {
    display: none;
    position: fixed;
    top: 100px; 
    left: 50%;
    transform: translateX(-50%);
    width: 60vw;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.175);
}

.bus .dropdown-menu.show {
    display: block;
}

.bus .dropdown-item {
    display: flex;
    align-items: flex-start;
    padding: 10px;
}

.bus .dropdown-item span {
    margin-right: 10px;
    font-size: 40px;
    color: rgb(6, 163, 218);
}

.bus .dropdown-item div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: fit-content;
}
@media (min-width: 991px) and (max-width:1650px){
    .bus .dropdown-menu {
        width: 70vw; /* Adjust width for smaller screens */
        top: 70px; /* Adjust top position for better fit */
        padding: 10px; /* Adjust padding */
        left: 100%;
    }
}
.Products .description {
    color: #757575; 
    font-size: 0.8rem; 
    max-width: 40px;    
}
.Products .icon{
    font-size: 30px;
   
}
.Products .dropdown-menu{
   
    position: fixed;
    top: 100px; 
    left: 50%;
    transform: translateX(-55%);
    width: 58vw;
    padding: 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.175);
}

.Products .right{
   margin-left: 20%;
}
/* .Products .nav-item:hover .dropdown-menu,
.bus .dropdown-menu.show {
    display: block;
} */

.Products .dropdown-item {
    display: flex;
    align-items: center;
    padding: 20px ;
}

.Products .dropdown-item span {
    margin-right: 10px;
    font-size: 35px;
    color: rgb(6, 163, 218);
}

.Products p span, .ourValue p span, .ourVision p span, .feature p span{
    color: rgb(6, 163, 218);
    font-size: 30px;
    
}
.Products .dropdown-item p {
    margin: 0;
}
.serv .dropdown-menu {
    position: fixed;
    top: 100px;
    left: 50%;
    transform: translateX(-40%);
    width: fit-content;
    padding: 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.175);
}

.serv .dropdown-item {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    width: fit-content;
    white-space: nowrap;
}

.serv .dropdown-item span {
    margin-right: 10px;
    font-size: 35px;
    color: rgb(6, 163, 218);
}

.serv .dropdown-item .description {
    margin-left: 10px;
    color: #757575;
    font-size: 0.8rem;
    flex-grow: 1;
}

.about .dropdown-item span{
    margin-right: 10px;
    font-size: 35px;
    color: rgb(6, 163, 218);
}
.about .dropdown-item {
    display: flex;
    align-items: center;
    padding: 10px 15px;
}
.products .dropdown-item span{
    margin-right: 10px;
    font-size: 35px;
    color: rgb(6, 163, 218);
}
.products .dropdown-item{
    display: flex;
    align-items: center;
    padding: 10px 15px;
}
.logo{
    width: 80px;
    height: 80px;
    border-radius: 8%;
   }
.software{
width:100%;
height: 45%;
}
.hardware{
    width: 100%;
    
}
/* .botPics{
   height: 45%;
   border-top: 8%;
} */

.services-menu span{
    margin-right: 10px;
    font-size: 35px;
    color: rgb(6, 163, 218);
}
.services-menu .dropdown-item {
    display: flex;
    align-items: center;
    padding: 10px 15px;
}
.services-menu-content {
    display: none;
    position: absolute;
    left: 55%;
    top: 10%;
    background-color: white; 
    padding: 10px;
    min-width: 200px;
    z-index: 1;
}
.services-menu-content a {
    color: #091E3E;
    text-decoration: none;
    display: block;
    padding: 5px 0;
}
.services-menu-content a:hover {
    background-color: #495057; 
}
.services-menu:hover .services-menu-content {
    display: block;
}
.about:hover .services-menu-content {
    display: block;
}
.free-quote-btn {
    margin-top: 42%; /* Adjust this value as needed */
    margin-left: 10%;
    padding: 10px 20px;
    font-size: 1rem;
    text-transform: uppercase;
    width: 200px;
    
}

/* Switch css */

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
  }
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
  }
  input:checked + .slider {
    background-color: rgb(6, 163, 218);
  }
  input:checked + .slider:before {
    transform: translateX(26px);
  }

  /****** who we are*****/
  .who-we-are-section {
    background-color: white;
    padding: 40px 20px;
    position: relative;
    z-index: 1;
    border: 3px solid #e0e0e0;
    border-radius: 20px;
    margin-top: -95px;
    
  }
  
  .who-we-are-content {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    background-color: white;
    padding: 40px 20px;
    box-sizing: border-box;
    position: relative;
    z-index: 2;
    margin-bottom: 200px;
    margin-top: 200px;

  }
  
  .who-we-are-title {
    font-size: 25px;
    color: #06A3DA;
    margin-bottom: 20px;
  }
  
  .who-we-are-description-wrapper {
    position: relative;
    z-index: 2;
    padding: 0 20px;
  }
  
  .who-we-are-description {
    font-size: 20px;
    line-height: 1.6;
    margin: 0;
    margin-top:30px;
  }


@media (max-width: 768px) {
    .who-we-are-section {
      margin: 100px 0;
    }
  
    .who-we-are-title {
      font-size: 20px;
    }
  
    .who-we-are-description {
      font-size: 16px;
    }
  }
  
  @media (max-width: 480px) {
    .who-we-are-section {
      padding: 20px;
    }
  
    .who-we-are-content {
      padding: 20px;
    }
  
    .who-we-are-description-wrapper {
      padding: 0;
    }
  }
  

  /*********************/

  /* Dark mode */
  body {
    background-color: white;
    color: black;
    transition: background-color 0.5s, color 0.5s;
  }
  body.dark-mode {
background-color: black;
color: white;
}
body.dark-mode h1,body.dark-mode h5, body.dark-mode .feature h4 {
color: white; /* Color for h1 in dark mode */
}
body.dark-mode .cards p{
  color: black !important;
}
body.dark-mode .cards p{
  color: black !important;
}
/* responsive */
 @media (min-width: 991px) and (max-width: 1368px) {
  
    
}
@media (min-width: 1368px) and (max-width: 1652px) {
    .serv .dropdown-menu{
        width: 35vw;
    }
} 
/* @media (min-width: 991px) and (max-width: 1770px) {
    .serv .dropdown-menu {
        position: fixed;
        top: 100px;
        left: 50%;
        transform: translateX(-40%);
        width: 30vw;
        padding: 0;
        font-size: 1rem;
        color: #212529;
        text-align: left;
        list-style: none;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid rgba(0, 0, 0, 0.15);
        border-radius: 0.25rem;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.175);
    }
    
  } */
  
@media (max-width: 768px) {
    body{
        width: 100%;
     
      }
      *{
        overflow-x: hidden;
      }
    /* aboutSlider responsivness start */
.aboutSlider{
    max-width: 95%;
}

/* aboutSlider responsivness end */

  video{
    border: 1px solid black;
    border-radius: 10px;
    width: 90%;
    /* display: none; */
  }
  .aboutVd{
   
    width: 100%;
  }

  
  .onfleetBody{
    width: 100%;
  }
    .bus .dropdown-toggle::after , .Products .dropdown-toggle::after {
        display: none;
    }
    .serv .description{
        display: none !important;
    }
    .serv .dropdown-menu{
        width: 50vw;


    }
    .bus .dropdown-menu, .Products .dropdown-menu {
        display: none !important; 
    }
    .back-to-top{
        display: none !important;
    }
    .services-menu-content {
        display: none;
        position: absolute;
        left: 35%;
        top: 0;
        background-color: white; 
        padding: 10px;
        min-width: 200px;
        z-index: 1;
    }

}
/* responsive end */