@font-face {
    font-family: 'Roboto';
    src: url('../Roboto/Roboto-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../Roboto/Roboto-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

/* Add more @font-face rules for different font weights and styles if needed */

body{
    font-family: 'Roboto', sans-serif; 
}
/* CSS */
.whatsapp-icon {
    position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}

.whatsapp-icon i {
    /* Adjust size as needed */
   
    font-size: 40px;
    color: white;
}



.w3-xxlarge{
    font-size: 30px;
    color: white;
}
.bus .description {
    color: #757575; 
    font-size: 0.8rem; 
    max-width: 50px;
}
.bus .dropdown-menu {
    display: none;
    position: fixed;
    top: 100px; 
    left: 50%;
    transform: translateX(-50%);
    width: 60vw;
    /* padding: 0; */
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.175);
    
}

.bus .dropdown-menu.show {
    display: block;
}

.bus .dropdown-item {
    display: flex;
    align-items: center;
    /* padding: 20px ; */
    
}

.bus .dropdown-item span {
    margin-right: 10px;
    margin-top: -40px;
    font-size: 40px;
    color: rgb(6, 163, 218);
}
.Products .description {
    color: #757575; 
    font-size: 0.8rem; 
    max-width: 50px;
}
.Products .icon{
    font-size: 30px;
   
}
.Products .dropdown-menu{
   
    position: fixed;
    top: 100px; 
    left: 50%;
    transform: translateX(-55%);
    width: 62vw;
    padding: 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.175);
}

.Products .right{
   margin-left: 20%;
}
/* .Products .nav-item:hover .dropdown-menu,
.bus .dropdown-menu.show {
    display: block;
} */

.Products .dropdown-item {
    display: flex;
    align-items: center;
    padding: 20px ;
    
}

.Products .dropdown-item span {
    margin-right: 10px;
    font-size: 35px;
    color: rgb(6, 163, 218);
}

.Products p span, .ourValue p span, .ourVision p span, .feature p span{
    color: rgb(6, 163, 218);
    font-size: 30px;
    
}
.Products .dropdown-item p {
    margin: 0;
}
.serv .dropdown-menu {
    position: fixed;
    top: 100px;
    left: 50%;
    transform: translateX(-40%);
    width: 25vw;
    padding: 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.175);
}

.serv .dropdown-item {
    display: flex;
    align-items: center;
    padding: 10px 15px;
}

.serv .dropdown-item span {
    margin-right: 10px;
    font-size: 35px;
    color: rgb(6, 163, 218);
}

.serv .dropdown-item .description {
    margin-left: 10px;
    color: #757575;
    font-size: 0.8rem;
    flex-grow: 1;
}

.about .dropdown-item span{
    margin-right: 10px;
    font-size: 35px;
    color: rgb(6, 163, 218);
}
.about .dropdown-item {
    display: flex;
    align-items: center;
    padding: 10px 15px;
}
.products .dropdown-item span{
    margin-right: 10px;
    font-size: 35px;
    color: rgb(6, 163, 218);
}
.products .dropdown-item{
    display: flex;
    align-items: center;
    padding: 10px 15px;
}
.logo{
    width: 80px;
    height: 80px;
    border-radius: 8%;
   }
.software{
width:100%;
height: 45%;
}
.hardware{
    width: 100%;
    
}
.botPics{
   height: 45%;
   border-top: 8%;
}

.services-menu span{
    margin-right: 10px;
    font-size: 35px;
    color: rgb(6, 163, 218);
}
.services-menu .dropdown-item {
    display: flex;
    align-items: center;
    padding: 10px 15px;
}
.services-menu-content {
    display: none;
    position: absolute;
    left: 55%;
    top: 10%;
    background-color: white; 
    padding: 10px;
    min-width: 200px;
    z-index: 1;
}
.services-menu-content a {
    color: #091E3E;
    text-decoration: none;
    display: block;
    padding: 5px 0;
}
.services-menu-content a:hover {
    background-color: #495057; 
}
.services-menu:hover .services-menu-content {
    display: block;
}
.about:hover .services-menu-content {
    display: block;
}
.free-quote-btn {
    margin-top: 42%; /* Adjust this value as needed */
    margin-left: 10%;
    padding: 10px 20px;
    font-size: 1rem;
    text-transform: uppercase;
    width: 200px;
    
}
@media (max-width: 768px) {
    /* aboutSlider responsivness start */

/* aboutSlider responsivness end */
  video{
    border: 1px solid black;
    border-radius: 10px;
    /* display: none; */
  }
    .bus .dropdown-toggle::after , .Products .dropdown-toggle::after {
        display: none;
    }
    .serv .description{
        display: none !important;
    }
    .serv .dropdown-menu{
        width: 50vw;


    }
    .bus .dropdown-menu, .Products .dropdown-menu {
        display: none !important; 
    }
    .back-to-top{
        display: none !important;
    }
    .services-menu-content {
        display: none;
        position: absolute;
        left: 35%;
        top: 0;
        background-color: white; 
        padding: 10px;
        min-width: 200px;
        z-index: 1;
    }
}
/* AboutSlider css */


